:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    /* text colors */
    --accent-txt-cl: #2196f3;
    --black-txt-cl: #212121;
    --white-txt-cl: #FFFFFF;
    --main-txt-cl: #757575;

    /* background color */
    --main-bg-cl:#FFFFFF;
    --hero-bg-cl:#2F303A;
}

body {
        font-family: var(--main-font), sans-serif;
        font-size: 14px;
        line-height: 1.71;
        background-color:var(--main-bg-cl);
        letter-spacing: 0.03em;
}

/* Стили для обнуления верхних отступов у элементов  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul)  */

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */

.link {
	text-decoration: none;
	color: inherit;
}

/* Свойства для корректного отображения картинок */

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Свойства для обнуления курсива у address */

address {
    font-style: normal;
    /* or */
    font-style: inherit;
}



/* common styles start */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


/* Секція хедер */
.header {
    background-color:var(--main-bg-cl);
}

/* logo */
.logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}

.span-web {
    color: var(--black-txt-cl);
}



.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-txt-cl);
}

.header-link.current {
    color: var(--accent-txt-cl);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-cl);
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
    color: var(--main-txt-cl);
    padding: 9px;
}

.contact.link {
    display: flex;
}

.contact.link:hover,
.contact.link:focus {
    color: var(--accent-txt-cl);
}


.btn {
    font-style: normal;
    font-family: inherit;
    font-size: 16px;
    text-align: center;    
    background-color: transparent;

    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-txt-cl);
    color: var(--white-txt-cl);
}

.btn-mode-light {
    color: var(--black-txt-cl);
}

.btn-mode-dark {
    color:var(--white-txt-cl);
}

.hero-btn {
    background: var(--accent-txt-cl);
    font-weight: 700;
    line-height: 1.9;
    line-height: 1.88;
    
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 210px;
}

/* common styles end */

/* Секція Hero */

.hero {
    background-color: #2F303A;
}

/* .header-group:hover,
.header-group:focus {
    color: #2196F3;
} */

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--white-txt-cl);
    
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-title-mode-light {
    color: var(--black-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title-mode-dark {
    color: var(--main-txt-cl);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* Секція Benefits */

.descrip {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;
}

/* Секція About */

.about,
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}


/* Секція team  */

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:var(--black-txt-cl);
}

.list-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-txt-cl);
}
    
/* Секція portfolio */

.prtf {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    color: var(--black-txt-cl);
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.text {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color: #757575;

}

/* Секція футер */
.footer {
    background-color: var(--hero-bg-cl);
}

.span {
    color: var(--white-txt-cl)
}

.addres {
    color: var(--white-txt-cl);
}

.cl {
    color: rgba(255, 255, 255, 0.6);
}
