html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}



:root {
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    /* text colors */
    --accent-txt-cl: #2196f3;
    --black-txt-cl: #212121;
    --white-txt-cl: #FFFFFF;
    --main-txt-cl: #757575;

    /* background color */
    --main-bg-cl:#FFFFFF;
    --hero-bg-cl:#2F303A;
    --btn-bg-cl:#F5F4FA;
}

body {
        font-family: var(--main-font), sans-serif;
        font-size: 14px;
        line-height: 1.71;
        background-color:var(--main-bg-cl);
        letter-spacing: 0.03em;
}

/* Стили для обнуления верхних отступов у элементов  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Класс для обнуления базовых свойств у списков (ul)  */

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */

.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */

address {
    font-style: normal;
    /* or */
    font-style: inherit;
}

/* common styles start */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* Секція хедер */
.header {
    background-color:var(--main-bg-cl);
}

.header-list {
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-list-item:not(:last-child) {
    margin-right: 50px;

}
.logo {
    margin-right: 93px;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid tomato;
}

/* logo */

.logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}

.span-web {
    color: var(--black-txt-cl);
}



.header-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-txt-cl);
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.header-link.current {
    color: var(--accent-txt-cl);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-cl);
}

.group.list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
    color: var(--main-txt-cl);
    padding: 9px;
}

.contact {
    display: flex;
    margin-left: 50px;
}

.contact:hover,
.contact:focus {
    color: var(--accent-txt-cl);
}


.btn {
    font-style: normal;
    font-family: inherit;
    font-size: 16px;
    text-align: center;    
    background-color: transparent;

    border-radius: 4px;
    border: 1px solid transparent;
    
    

    cursor: pointer;
}

.list-btn {
    display: flex;

}

.btn:hover,
.btn:focus {
    background-color: var(--accent-txt-cl);
    color: var(--white-txt-cl);
}

.btn-mode-light {
    color: var(--black-txt-cl);
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background:var(--btn-bg-cl)
    

}

.btn-mode-dark {
    color:var(--white-txt-cl);
    display: flex;
    text-align: center;
    padding: 10px 32px;
    min-width: 200px;
    
}

.hero-btn {
    background: var(--accent-txt-cl);
    font-weight: 700;
    line-height: 1.88;
    
    align-items: center;
    letter-spacing: 0.06em;

}

/* common styles end */

/* Секція Hero */

.hero {
    background-color: var(--hero-bg-cl);
}


.section-title {
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-cl);

    background-color: greenyellow;
}

.section-title-mode-light {
    color: var(--black-txt-cl);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title-mode-dark {
    color: var(--main-txt-cl);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* Секція Benefits */

.benefits-container {
    display: flex;
}

.benefits-list {
    display: flex;
    
}

.benefits-item {
    width: 270px;
    margin-right: 30px;
}



.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--black-txt-cl);
}
.descrip {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--main-txt-cl);
}

/* Секція About */


.about-list {
    display: flex;
    padding-top: 0;
}

.about-title {
    width: 376px;
    margin: 0;
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.about-item {
    display: flex;
    width: 370px;
    margin-right: 30px;
    

}

.about,
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}



/* Секція team  */


.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:var(--black-txt-cl);
}

.list-team {
    display: flex;
    padding-bottom: 108px;
    
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-txt-cl);
}

.team-item {
    margin-right: 30px;
}
    
/* Секція portfolio */

.prtf {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    color: var(--black-txt-cl);
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-txt-cl);
}

.text {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color: var(--main-txt-cl);

}

/* Секція футер */
.footer {
    background-color: var(--hero-bg-cl);
}

.span {
    color: var(--white-txt-cl)
}

.location {
    color: var(--white-txt-cl);
}

.cl {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 9px;
}

.location,
.mail,
.phone {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

}